.footer {
    color:blue;
    text-align:center;
}
.header {
    color:blue;
    text-align:center;
}

h1 {
    font-family: courier;
}

.menu {
    background-color: green;
}

.home {
    background-color: green;
}

.requiredstuff {
    font-weight: bold;
}