h1 {
    color:orange;
    font-family:courier;
}

li {
    font-style: italic;
}




a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blue;
}

td {
    font-style: italic;
}

table {
    background-color: lightblue;
}

th {
    background-color:black;
    color:white;
}